* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.btn {
  width: 50px;
  height: 30px;
  margin: 20px 0 20px 50px;
  background-color: rgb(246, 243, 73);
}

.text {
  padding: 50px 0 0 50px;
  font-size: 20px;
}

#dice,
#dice2 {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50px;
  text-align: center;
  color: white;
  font-size: 18px;
  background-color: green;
  padding-top: 10px;
  margin: 0 0 30px 50px;
}

#dice2 {
  background-color: rgb(248, 10, 10);
}

.grid-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(10, 1fr);
  position: relative;
  border: 1px solid black;
  z-index: 99;
  width: 800px;
  height: 550px;
}

 .box {
  border: 1px solid rgb(6, 6, 6);
  z-index: 1;
}
img {
  position: absolute;
}

#p1,#p2 {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  left: -80px;
  z-index: 2;
  background-color: green;
}

#p2 {
  border-radius: 0;
  left: -80px;
  background-color: red;
}

.container {
  display: flex;
}
